<div class="hero">
  <h1 class="title">Eat Da </h1>
  <h1 class="title" id="burger-text">Burger!</h1>
  <hr class="line">
</div>

<div class="burger-container">
  
  <div id="container-left">
    <h2>To Eat</h2>
    
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}

  </div>
  
  <div id="container-right">
    <h2>Already Eaten</h2>

   
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
   
  </div>

</div>
<div class="form-container">
<h2 id="add-title">Add a Burger</h2>
<hr class="add-line"> 
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="burger_name" placeholder="Enter a burger name">
  </div>

  <div class="form-group checkboxes">
    
    <div>
      <input type="radio" name="devoured" value="0" checked>Ready to Eat
    </div>

    <div>
      <input type="radio" name="devoured" value="1"> Already Eaten
    
    </div>
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>