*, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}
body {
    background-color: #333333;
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-weight: 200;
}
ul {
    list-style: none;
}
/* hero banner */
.hero {
    background-image: url(../img/burger.png);
    background-position-y: -50px;
    color: #ffffff;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.title {
    margin-left: 20vw;
    font-size: 5rem;
    z-index: 3;
    /* add outline */
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
#burger-text {
    position: relative;
    top: -20px;
}
.line {
    border: none;
    border-top: 5px solid yellow;
    position: relative;
    top: -30px;
    width: 360px;
    margin-left: 20vw;
    z-index: 1;
}
/* burgers display */
.burger-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}
button {
    border: none;
    outline: none;
    padding: 0 5px;
    font-weight: 600;
    color: #333333;
}
button.change-eaten {
    height: 100%;
    width: 100px;
}
button:hover, button:focus {
    background-color: red;
    color: #ffffff;
}
.burger-card {
    padding-left: 32px;
    border-radius: 3px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    height: 35px;
    font-weight: 600;
}
.burger-name {
    color: #333333;
}
#container-left, #container-right {
    width: 580px;
}
h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
}
/* bite mark */
.bitemarks {
    position: relative;
}
.bitemark {
    position: absolute;
    z-index: 5;
}
.circ1 {
    top: -45px;
    left: -15px;
}
.circ2 {
    top: -56px;
    left: -4px;
}
.circ3 {
    top: -64px;
    left: 7px;
}
/* form */
.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#add-title {
    margin-top: 50px;
}
.add-line {
    margin-top: 5px;
    border: none;
    border-top: 3px solid red;
    width: 300px;
}
.create-form {
    margin: 15px 0;
    text-align: center;
    width: 400px;
}
input[type="text"] {
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #333333;
    padding: 6px 16px;
}
input[type="text"]:focus {
    outline: red;
    border: red;
}
.checkboxes {
    display: flex;
    justify-content: space-around;
}
.form-group {
    margin: 8px;
}
button[type="submit"] {
    margin: 15px 0 30px 0;
    padding: 8px 32px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: red;
    color: #ffffff;
    text-transform: uppercase;
}
button[type="submit"]:hover, button[type="submit"]:focus {
    background-color: lightgray;
    box-shadow: 0px 0px 6px #444444;
}