<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}<img src="../../../public/assets/img/hamburger-solid.svg" class="hamburger-icon"></img>Eat Again{{else}}<i class="fas fa-utensils"></i>Eat Me2{{/if}}
	</button>
</li>